.tabla tr th {
    text-align: left;
}

.filtros {
    display: flex;
    justify-content: space-between;
}

.saleFiltros {
    display: flex;
    padding: 10px;
    gap: 15px;

    .saleWrapper {
        display: flex;
        flex-direction: column;
        padding: 3px;
        gap: 2px;
    }

    label {
        padding: 5px;
    }
}

.limpiar,
.consultar {
    display: flex;
    align-items: center;
    background-color: black;
    color: #F2CB57;
    height: 45px;
    padding: 20px;
}

.saleAcction {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}